
<div>
    <h3>Статус</h3>
        <select s id>
            <option value="MNTC">MNTC
            <option value="inUSE">in USE 
        <br/>
        <p>Вывести в ремонт</p><br/>
        <input type="checkbox" name="remont" id="remont"/>



</option></option></select></div>